.card-container{
    border: solid 2px red;
    max-width: 200px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.img{
    margin-top: 10px;
    width: 100px;
    height: 100px;
}